body {
	margin: 0;
	padding: 0;
	background-color: #000; /* Black background */
	color: rgb(203, 203, 203);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
	text-align: left;
	padding: 5vw 15vw;
}

@media (min-width: 768px) {
	.main-header {
		padding: 5vw 5vw;
	}
}

@media (min-width: 1200px) {
	.main-header {
		padding: 5vw 15vw;
	}
}

.main-header h1 {
	font-size: 3rem;
	font-weight: bold;
}

.main-header p {
	font-size: 1.2rem;
	color: #aaa;
}
